/*Pomodoro*/
.pomodoro {
  max-width: 500px;
  margin: 0 auto;
  align-items: center;
}

.header{
  text-align: center;
  width: 200px;
}

.pomodoro * {
  margin: 0 auto;
}

.tomato {
  max-width: 500px;
  margin: 0 auto;
}
.timer {
  background-image: url('../../public/img/tomato_Kawaii.svg');
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  text-align: center
}

.timer:hover{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/*.timer:active{
  background-color: dodgerblue;
}*/

.timer-running {
  background-image: url('../../public/img/tomato_Kawaii_Concerned.svg');
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  text-align: center
}

.timer-stopped {
  background-image: url('../../public/img/tomato_Kawaii.svg');
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  text-align: center}

.stopwatch-time {
  display: inline-block;
  vertical-align: middle;
  margin-top: 30%;
  float: none;
}

.time-options {
  margin-top: 10%;
  display: flex;

}
